@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row m-1">
        
            <input type="text" name="group" placeholder="Votre groupe" class="col-6 p-1 form-control" />
            <button class="btn btn-primary m-1 p-1 col-6" id="join">Join</button>
    </div>
    <div class="row m-1">
        <input type="text" name="user" placeholder="Votre nom" class="col-3 p-1 form-control" />
        <input type="text" name="message" placeholder="Votre message" class="col-6 p-1 form-control" />
        <button class="btn btn-primary m-1 p-1 col-3" id="send">Send</button>
    </div>
    <div class="row">
        <div class="col" id="result">

        </div>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
